<?xml version="1.0"?>

<launch>
    <env name="ROSCONSOLE_CONFIG_FILE"
        value="$(find ros_robo15)/config/rosconsole.conf" />

    <group ns="motor">
        <node pkg="ros_robo15" name="motor_connecter"
            type="spi_connecter" args="0" output="screen" />
    </group>

    <group ns="sensor">
        <node pkg="ros_robo15" name="sensor_connecter"
            type="spi_connecter" args="1" output="screen" />
    </group>

    <group ns="debug">
        <remap from="send_data" to="/motor/send_data"/>
        <remap from="recive_data" to="/motor/recive_data"/>
        <node pkg="ros_robo15" name="listener" type="listener" output="screen" />
        <node pkg="ros_robo15" name="talker" type="talker" output="screen" />
    </group>

</launch>
